.form-container {
    margin-top: 15vh;
    box-shadow: 0 10px 20px 0px rgba(170, 170, 170, 0.14);
    background: #152144d5;
    border-radius: 5px;
}
.form-header {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    /*border-radius: 3px;
    margin-top: -20px;
    padding: 15px;*/
    .card-title {
        color: #fff;
    }
}