.background {
    background-color: #1a2035;
}
.bg-card {
    background: #202940;
}
.bg-green {
    background: linear-gradient(60deg, #288c6c, #4ea752);
}
.bg-orange {
    background: linear-gradient(60deg, #f5700c, #ff9800);
}
.bg-red {
    background: linear-gradient(60deg, #d22824, #da3a36);
}
.bg-blue {
    background: linear-gradient(60deg, #029eb1, #25b1c3);
}
.bg-violet {
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
}
.txt-color-primary {
    color: #8b92a9 !important;
}