<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Hướng dẫn đề tài</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5>Giảng viên: TS. Ngô Hữu Dũng</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title"">Thực hiện đề tài</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5>Lê Hữu Thanh</h5>
                            </li>
                            <li class="list-group-item">
                                <h5>Ngô Mạnh Thành</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>