<div class="sidebar" data-color="purple" data-background-color="black" data-image="static/img/sidebar-2.jpg">
    <div class="logo"><a href="javascript:void(0)" class="simple-text logo-normal">
            Nhóm 11
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="material-icons">dashboard</i>
                    <p>Giám sát</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/devices">
                    <i class="material-icons">important_devices</i>
                    <p>Quản lý thiết bị</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/control">
                    <i class="material-icons">control_camera</i>
                    <p>Điều khiển</p>
                </a>
            </li>
        </ul>
    </div>
</div>