<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Thiết bị</h4>
            <p class="card-category">Danh sách thiết bị</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                    Tên thiết bị
                  </th>
                  <th>
                    Loại thiết bị
                  </th>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Thêm thiết bị</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">ID</label>
                    <input type="text" class="form-control" name="did" id="did">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Tên thiết bị</label>
                    <input type="text" class="form-control" name="dname" id="dname">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Loại thiết bị</label>
                    <select class="form-control text-success" id="dtype" name="dtype">
                      <option value="1">Cảm biến</option>
                      <option value="2">Động cơ</option>
                      <option value="3">Đèn</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Thêm</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>